.checkbox-label{
	cursor: pointer;
	position: relative;
	transition: 0.2s;

	&:before{
		position: absolute;
		content: "";
		top: 0;
		left: 0;
		display: inline-block;
		width: 17px;
		height: 17px;
		border: 1px solid rgba(0,0,0,.15);
		background-color: transparent;
		transition: 0.2s;
	}

	&:hover:before{
		border-color: #79b53d;

	}


	&:active:before{
		border-color: #c7c7c7;
		content: url('../images/SVG/tick.svg') ;

		.checkbox-control:checked + &{
			background-image: none;
		}
	}

}

.checkbox-control{
	&:checked + .checkbox-label:before{
		content: url('../images/SVG/tick.svg') ;
	}
}

@media (min-width:&tablet)  {
	.checkbox-label{
		transition: 0.2s;

		&:before{
			width: 54px;
			height: 52px;
		}
	}	
}
