.input{
	width: 100%;
	padding: 15px;
	padding-left: 25px;
	margin-bottom: 10px;
	border: 1px solid rgba(0,0,0,0.15);
	outline: none;

	&:hover{
		border-color: rgba(0,0,0,0.35);
	}

	&:active{
		border-color: #79b53d;
	}

}

.input::-moz-placeholder {
  color: #232323;
  font-size: 12px;
  line-height: auto 
 }

.input::-webkit-input-placeholder {
 color: #232323;
 font-size: 12px;
 line-height: auto
  }

.input:-ms-input-placeholder { 
	color: #232323;
	font-size: 12px;
	line-height: auto
 }

.input::-ms-input-placeholder { 
	color: #232323;
	font-size: 12px;
	line-height: auto
 }

.input::placeholder {
	color: #232323;
	font-size: 12px;
	line-height: auto
 } 

@media (min-width: $tablet)  { 
	
}

@media (min-width: $desktop)  {
.input{
	margin-bottom: 20px;
	padding: 20px;
}

.input::-moz-placeholder {
  color: #232323;
  font-size: 16px;
  line-height: auto 
 }

.input::-webkit-input-placeholder {
 color: #232323;
 font-size: 16px;
 line-height: auto
  }

.input:-ms-input-placeholder { 
	color: #232323;
	font-size: 16px;
	line-height: auto
 }

.input::-ms-input-placeholder { 
	color: #232323;
	font-size: 16px;
	line-height: auto
 }

.input::placeholder {
	color: #232323;
	font-size: 16px;
	line-height: auto
 } 

}

@media (min-width: $full-desktop)  {


}