.price-list{
	background-color: #f7f7f7;
	padding: 0 5%;
	margin-bottom: 10px;
}

.price-list__table{
	
	border-collapse: collapse;
	border-spacing: 0;
	margin-bottom: 20px;

	&--add{
		display: none;
	}
}

.price-list__head {
	text-align: left;
	border: 1px solid rgba(0,0,0,.15);
	background-color: #d0d3d9;
	font-size: 12px;
	line-height: 28px;
	text-transform: uppercase;
	font-weight: 400;
	padding: 10px;

}

.price-list__cell{
	padding: 10px;
	border: 1px solid rgba(0,0,0,.15);
	font-size: 12px;
	line-height: normal;
}

.price-list__btn{
	border: none;
	background-color: transparent;
	font-size: 12px;
	cursor: pointer;
	margin-bottom: 20px;

	&:after{
		content: url('../images/SVG/right-arrow-link.svg');
		transform: rotate(90deg);
		display: inline-block;
		position: relative;
		top:4px;
		left:5px;
	}
}

@media (min-width: $tablet)  { 
	
	.price-list__head {

	&--price{
		width: 70px;
	}
}

.price-list__cell{
	&--price{
		width: 70px;
	}
}

}

@media (min-width: $desktop)  {
	.price-list__table{
		width: 100%;
	&--add{
		display: table;
	}

	.price-list__head {
		font-size: 16px;

		&--price{
			width: 100px;
		}
	}

	.price-list__cell{
		font-size: 16px;

		&--price{
			width: 100px;
		}
	}
}



}

@media (min-width: $full-desktop)  {


}