.product{
	background-color: #f7f7f7;
	padding: 0 5%;
	padding-bottom: 20px;
	margin-bottom: 10px;
}

.product__title{
	line-height: normal;
	padding-top: 25px;
	margin-bottom: 10px;
}

.product__head-wrapper--d{
	display: none;
}

.product__price{
	margin: 0;
	margin-bottom: 10px;
	font-weight: 700;
	font-size: 14px;
	line-height: 18px;
}

.product__img-wrapper{
	text-align: center;
	margin: 0 auto;
}

.product__img{
	width: 290px;
	height: auto;
}

.product__table{
	width: 100%;
}


.product__cell{
	font-size: 12px;
	line-height: 28px;

	&--desc{
		text-align: right;
		font-weight: 700;
		text-transform: uppercase;
	}
}

.product__text-block{
	padding: 10px 0;
	font-size: 12px;
	line-height: normal;
	border-top: 1px solid rgba(0,0,0,.15);
	border-bottom: 1px solid rgba(0,0,0,.15);

}

.product__text{
	max-height: 75px;
	overflow: hidden;
	opacity: 0.9;
}



.product__btn-closed{
	&:after{
		content: url("../images/SVG/right-arrow-link.svg");
		display: inline-block;
		position: relative;
		top:5px;
	}
}
.product__btn-opened{
	&:after{
		content: url("../images/SVG/right-arrow-link.svg");
		display: inline-block;
		position: relative;
		right: -5px;
		top:4px;
		transform: rotate(-90deg)
	}
}

.product__btn-opened{
	display: none;
}

#product1:checked + .product__text{
	max-height: 10000px;
	opacity: 1;
}

#product1:checked ~* .product__btn-opened{
	display: inline;
}


#product1:checked ~* .product__btn-closed{
	display: none;
}

.product__panel{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.product__number{
	margin: 0;
	font-size: 16px;
	line-height: 55px;
}

.product__add-number{
	font-size: 16px;
	opacity: 0.8;
}

.product__add{
	width: 75px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.product__add-btn{
	position: relative;
	display: block;
	width: 15px;
	height: 2px;
	font-size: 0;
	background-color: #232323;
	border: none;

	&--plus:after{
		content: '';
		display: block;
		width: 15px;
		height: 2px;
		background-color: #232323;
		position: absolute;
		transform: rotate(90deg);
		top: 0;
		left:0px;
	}

}

.product__button{
	width: 100%;
}


@media (min-width: $tablet)  { 
	.product{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-end;
	}


	.product__head-wrapper{

		&--m{
			display: none;
		}

		&--d{
			display: block;
		}
	}

	.product__wrapper{
		order: 3;
		width: 30%;
		padding-left: 30px;
		flex-grow: 1;
	}

	.product__img{
		width: 400px;
		height: auto;
	}
}

@media (min-width: $desktop)  {


}

@media (min-width: $full-desktop)  {

.product__img{
		width: 755px;
		height: auto;
	}

	.product__price{
	font-size: 16px;
	line-height: 24px;
}
.product__cell{
	font-size: 16px;
}
.product__text-block{
	padding: 20px 0;
	font-size: 16px;

}

.product__text{
	max-height: 75px;

}

.product__btn-closed{
	&:after{
		content: url("../images/SVG/right-arrow-link.svg");
		display: inline-block;
		position: relative;
		top:5px;
	}
}
.product__btn-opened{
	&:after{
		content: url("../images/SVG/right-arrow-link.svg");
		display: inline-block;
		position: relative;
		right: -5px;
		top:4px;
		transform: rotate(-90deg)
	}
}
.product__number{
	margin: 0;
	font-size: 18px;
	line-height: 55px;
}

.product__add-number{
	font-size: 22px;
}
.product__add{
	width: 100px;

}
.product__add-btn{
	width: 25px;
	height: 3px;

	&--plus:after{
		width: 25px;
		height: 3px;
	}

}



}