html{
	box-sizing: border-box;
	transition-duration: 0.2s;
}

*,
*:before,
*:after{
	box-sizing: inherit;
}

body{
	margin: 0;
	padding: 0;
	background-color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	color: #232323;
	transition-duration: 0.2s;
}




ul{
	margin: 0;
	padding: 0;
	list-style: none;
}


.content-box{
	box-sizing: content-box;
}


.visually-hidden{
	position: absolute;
	width:1px;
	height:1px;
	margin:-1px;
	padding:0;
	border:0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

a{ 
	text-decoration: none;
	color: inherit;
	padding: 0;
	margin: 0;
}

.body__wrapper{
	width: 100%;
	display: flex;
	flex-direction: column;
	background-color: #fff;
	overflow: hidden;
}

@media (min-width: $tablet)  { 
	.body__wrapper{
	}
}

@media (min-width: $desktop)  {
	.body__wrapper{
		flex-direction: row;
	}
}

@media (min-width: $full-desktop)  {
	.body__wrapper{
	}
}