.swiper-container {
  width: 100%;
  position: relative;
}


.swiper-slide {
  width: 290px !important;

}

.reviews .swiper-slide {
	 margin-top: 10px;
}

// .swiper-pagination{
// 	top:10px;
// 	left:0;
// 	width: 100%;

// }

// .swiper-pagination-bullet {
// 	border-radius: 0 !important;
// 	width: 7px !important;
// 	height: 7px !important;
// 	opacity: 0.5 !important;
// 	background: #79b53d !important;
// 	margin-right: 10px !important;
// }
// .swiper-pagination-bullet-active {
// 	width: 30px !important;
// 	opacity: 1 !important;
// }

.parallax-window{
	width: 100%;
	min-height: 500px;
  background: transparent;

}

.parallax-mirror {
    z-index:1
}

@media (min-width: $tablet)  { 
	
// '#swiper1'
// '#js-next1'
// '#js-prev1'
// id="js-prev2"
// id="js-next2" 
// id="swiper3"
}

@media (min-width: $desktop)  {



}

@media (min-width: $full-desktop)  {
.swiper-container {
	  width: 100%;
	}



	.swiper-slide {
	  width: 355px !important;
	}



}